<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homer-Lite</title>
    <script src="/lib/jquery.min.js"></script> 
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-theme.min.css">
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/vue.js"></script>
    <script src="/lib/axios.min.js"></script>
    <script src="/lib/echarts.min.js"></script>
</head>