<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIP Grep</title>
    <link href="/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SIP Grep</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="input-group">
                    <div class="input-group-text">日期</div>
                    <input type="date" class="form-control" id="autoSizingInputGroup" placeholder="" required value="{{.Today}}">
                </div>
                <div class="input-group">
                    <div class="input-group-text">开始</div>
                    <input type="time" class="form-control" id="autoSizingInputGroup" step="1" required value="{{.StartTime}}">
                </div>

                <div class="input-group">
                    <div class="input-group-text">结束</div>
                    <input type="time" class="form-control" id="autoSizingInputGroup" step="1" required value="{{.EndTime}}">
                </div>

                <div class="input-group">
                    <div class="input-group-text">主叫</div>
                    <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="">
                </div>
                <div class="input-group">
                    <div class="input-group-text">被叫</div>
                    <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
        <div class="row">
        </div>
        <div class="row"></div>
    </div>
    <script src="/bootstrap-5.3.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>