<!DOCTYPE html>
<html lang="en">

<%- include('head.html'); %>
<style>
  .uk-notify{
    width: 40%;
  }

</style>
<script src="/lib/dayjs.min.js"></script>
<script src="/js/notify.js"></script>
<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" @submit.prevent="getData">
                    <div class="form-group">
                      From: <input v-model="from" type="text" class="form-control" placeholder="8001@test.cc">
                    </div>
                    <div class="form-group">
                      To: <input v-model="to" type="text" class="form-control" placeholder="8002@test.cc">
                    </div>

                    <div class="form-group">
                      Limit: 
                      <select class="form-control" v-model.number="limit">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                      </select>
                    </div>

                      Quick Ranges: 
                    <select class="form-control" v-model.number="shortTime" @change="changeTime">
                      <option value="10">Last 10m</option>
                      <option value="30">Last 30m</option>
                      <option value="60">Last 1h</option>
                      <option value="180">Last 3h</option>
                      <option value="360">Last 6h</option>
                    </select>

                    Custom range:
                    <div class="form-group">
                      <input v-model="beginTime" type="text" class="form-control" placeholder="2020-05-08 10:12:23">
                    </div>
                    -
                    <div class="form-group">
                      <input v-model="endTime" type="text" class="form-control" placeholder="2020-05-10 10:12:23">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a class="btn btn-default" role="button" href="/import" target="_blank">Import JSON File</a>
                    <a class="btn btn-default" role="button" href="/monitor" target="_blank">Monitor</a>
                    <br>
                  </form>
            </div>
            <br/>
            <br/>
            <div class="rol-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#Index</th>
                    <th>Time</th>
                    <th>FS Call-Id</th>
                    <th>SIP Call-Id</th>
                    <th>User Agent</th>
                    <th>Protocol</th>
                    <th>From->To</th>
                    <th>src_host->dst_host</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-show="loading">
                    <td colspan="8" style="text-align: center;"><img src="/images/loading.gif" alt=""></td>
                  </tr>
                  <tr v-show="list.length === 0">
                    <td colspan="8" style="text-align: center;color:red">Sorry, No Result !!!</td>
                  </tr>
                  <tr v-for="(item,index) in list" :key="item.id">
                    <td>#{{index}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.fs_callid}}</td>
                    <td>{{item.callid}}</td>
                    <td>{{item.ua}}</td>
                    <td>{{item.protocol | transProtocol}}</td>
                    <td><a :href="'/call?' + item.table + item.callid" target="_blank">{{item.from_user}}@{{item.from_host}} -> {{item.to_user_r.split('').reverse().join('')}}@{{item.to_host}}</a></td>
                    <td>{{item.src_host}}->{{item.dst_host}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        
    </div>
</body>
<script src="/js/index.js"></script>
</html>